---
Language: Cpp
ColumnLimit: 100
IndentWidth: 2
PPIndentWidth: 2
ContinuationIndentWidth: 2
NamespaceIndentation: All
BreakBeforeBraces: Allman
AlwaysBreakAfterReturnType: None
AlwaysBreakAfterDefinitionReturnType: None
PointerAlignment: Left
ReferenceAlignment: Left
AlignAfterOpenBracket: AlwaysBreak
BinPackArguments: false
BinPackParameters: false
SpaceBeforeParens: ControlStatements
UseTab: Never
SortIncludes: CaseInsensitive