---
Language: Cpp

UseTab: Never
IndentWidth: 2
PPIndentWidth: 2
ContinuationIndentWidth: 2
IndentCaseBlocks: true
IndentCaseLabels: true
NamespaceIndentation: None
BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel: true
  AfterClass: true
  AfterControlStatement: Always
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterObjCDeclaration: true
  AfterStruct: true
  AfterUnion: true
  AfterExternBlock: true
  BeforeCatch: true
  BeforeElse: true
  BeforeLambdaBody: true
  BeforeWhile: false
  IndentBraces: false
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true
AllowShortIfStatementsOnASingleLine: Never
PackConstructorInitializers: Never
BreakConstructorInitializersBeforeComma: true
BinPackParameters: false
BinPackArguments: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowAllArgumentsOnNextLine: true
AlignConsecutiveDeclarations: None
AlignAfterOpenBracket: AlwaysBreak
InsertNewlineAtEOF: true
PointerAlignment: Left
ReferenceAlignment: Left
SortIncludes: CaseInsensitive
ColumnLimit: 100
SpaceBeforeParens: ControlStatements